.card-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-title {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.card-text i {
  color: #007bff; /* Color del ícono */
  font-size: 18px; /* Tamaño del ícono */
}

.card-text strong {
  color: #333; /* Color del texto fuerte */
}

.card-text {
  margin: 0;
}

.card-text br {
  margin: 5px 0; /* Espacio entre líneas */
}